<%- include('./fragments/header.ejs') %>

			<div id="prawy">
				<div id="lewy_srodek">

					<h2>Szczegóły rezerwacji</h2>

					<form><div id="formularz">
						<label for="osoby">Osoba: </label>
						<select id="osoby" name="osoby" disabled="disabled">
							<option value="Adam">Adam</option>
							<option value="Tomasz">Tomasz</option>
						</select><br /> <br />
						<label for="koncerty">Koncert: </label>
						<select id="koncerty" name="koncerty" disabled="disabled">
							<option value="Warszawa">Warszawa</option>
							<option value="Kraków">Kraków</option>
						</select><br /> <br />
						Ilość osób: <input disabled="disabled" type="number" id="ilosc" name="ilosc"
							   min="1" max="20" placeholder="2"> <br /><br />
						Czy dokonano przedpłaty:
							<input disabled="disabled" type="radio" name="przedpłata" value="1" checked />Tak
							<input disabled="disabled" type="radio" name="przedpłata" value="0" />Nie <br /><br />

						W jaki sposób dowiedziano się o koncercie?
						<select disabled="disabled" name="Przeglądarka">
							<option selected="selected">Facebook</option>
							<option>Radio</option>
							<option>Od znajomych</option>
							<option>Plakat</option>
							<option>Inna</option>
						</select>
							<p>Dodatkowe informacje:</p>
							<textarea disabled="disabled" name="Komentarz" cols="50" rows="10">Tutaj można wpisno dodatkowe informacje dotyczące rezerwacji...</textarea>
						<br /><br /><br />


					</div></form>
					<a href="/rezerwacje/add">
						<button>Edytuj</button>
					</a>
					<a href="/rezerwacje">
						<button>Powrót do rezerwacji</button>
					</a>
				</div>



<%- include('./fragments/footer.ejs') %>