<%- include('./fragments/header.ejs') %>
			
			<div id="prawy">
				<div id="lewy_srodek">
				
					<h2>GALERIA</h2>
					
					
					
					<div id="z1"><div class="z"><div id="galeria"><img src="/css/img/foto.jpg"alt="zdjecie1"/></div></div></div>
					<div id="z2"><div class="z"><div id="galeria"><img src="/css/img/foto1.jpg"alt="zdjecie2"/></div></div></div>
					<div id="z3"><div class="z"><div id="galeria"><img src="/css/img/foto2.jpg"alt="zdjecie3"/></div></div></div>
					<div id="z4"><div class="z"><div id="galeria"><img src="/css/img/foto3.jpg"alt="zdjecie4"/></div></div></div>
					<div id="z5"><div class="z"><div id="galeria"><img src="/css/img/foto4.jpg"alt="zdjecie5"/></div></div></div>
					<div id="z6"><div class="z"><div id="galeria"><img src="/css/img/foto5.jpg"alt="zdjecie6"/></div></div></div>
					
					<div id=ramka"><img src="/css/img/foto.jpg"alt="zdjecie1"/></div>
					
					<div class="miniatury"><a href="#z1"><img src="/css/img/foto.jpg"alt="zdjecie1"/></a></div>
					<div class="miniatury"><a href="#z2"><img src="/css/img/foto1.jpg"alt="zdjecie1"/></a></div>
					<div class="miniatury"><a href="#z3"><img src="/css/img/foto2.jpg"alt="zdjecie1"/></a></div>
					<div class="miniatury"><a href="#z4"><img src="/css/img/foto3.jpg"alt="zdjecie1"/></a></div>
					<div class="miniatury"><a href="#z5"><img src="/css/img/foto4.jpg"alt="zdjecie1"/></a></div>
					<div class="miniatury"><a href="#z6"><img src="/css/img/foto5.jpg"alt="zdjecie1"/></a></div>
					
				</div>




<%- include('./fragments/footer.ejs') %>
