<%- include('./fragments/header.ejs') %>
			
			<div id="prawy">
				<div id="lewy_srodek">
				
					<h2>Historia</h2>
					
					<h3>Wczesne lata</h3>
					
					<p> Początki Black Sabbath sięgają grupy o nazwie Rare Breed, w której występowali Ozzy Osbourne i Geezer Butler. W tym samym czasie, tj. w 1968, Tony Iommi i Bill Ward nosili się z zamiarem założenia zespołu grającego blues rocka. Osbourne zamieścił ogłoszenie w miejscowym sklepie muzycznym o treści: „Ozzy Zig Needs Gig – has own PA”, na które to odpowiedział Tony. Nowo powstała formacja początkowo nazywała się The Polka Tulk Blues Band – inspiracją była nazwa taniego pudru, którego używała matka Osbourne’a[9]. Na krótko w składzie zespołu znaleźli się także gitarzysta rytmiczny Jimmy Phillips oraz saksofonista Alan „Aker” Clarke[8]. Wkrótce nazwa została skrócona do Polka Tulk, a ostatecznie zmieniona na Earth (której to wokalista nie znosił[9]), wtedy już zespół działał jako kwartet. Earth zdołał zarejestrować kilka taśm demo. W grudniu Iommi niespodziewanie odszedł, aby dołączyć do Jethro Tull – wystąpił z zespołem w filmie The Rolling Stones Rock and Roll Circus. Gitarzysta jednak był rozczarowany, przede wszystkim despotyczną postawą lidera, Iana Andersona i po dwóch tygodniach, tj. w styczniu 1969 powrócił do Earth[8]. Tymczasem okazało się, że na terenie Anglii już funkcjonowała grupa Earth, dlatego też konieczna stała się kolejna zmiana nazwy. Tak się złożyło, że w kinie naprzeciwko sali prób zespołu, był wyświetlany film Black Sabbath – był to horror w reżyserii Mario Bavy – zainspirował on muzyków do napisania utworu o takim samym tytule. Tekst zawierał odniesienia do prac okultysty Dennisa Wheatleya[10][11] a także do wizji, której podobno doświadczył Butler – twierdził on, że pewnego razu zobaczył ciemną postać stojącą przy jego łóżku. Doświadczenie to okazało się dla niego na tyle przerażające, że natychmiast porzucił swoje fascynacje. W okresie późniejszym grupa protestowała przeciwko kojarzeniu jej z jakąkolwiek formą okultyzmu – był to raczej imidż wykreowany przez wytwórnie płytowe przy okazji promocji jej wydawnictw[8]. Nie zmienia to faktu, że w tekście Black Sabbath pojawiła się postać szatana[12], a Rob Halford (frontman Judas Priest) określił utwór „najprawdopodobniej najbardziej diabelskim na świecie”[13]. Ostatecznie zespół zdecydował się na nazwę Black Sabbath, która została oficjalnie przyjęta w sierpniu 1969. </p>
					
					<h3>Dalsza działalność</h3>
					
					<p>Pierwszy album grupy, Black Sabbath odniósł sukces w Wielkiej Brytanii w 1970. Zespół zaprezentował na nim surową i ciężką jak na początek lat 70 odmianę rocka. Następny, Paranoid (też 1970), był już wielkim sukcesem w Stanach Zjednoczonych i Wielkiej Brytanii. W 1971 powstał Master of Reality. Nowością było zastosowanie akustycznych brzmień (Solitude,Orchid). Nowością na w wydanym w 1973 albumie Sabbath Bloody Sabbath było zastosowanie syntezatorów w utworze „Who Are You?”.

						Członkowie Black Sabbath w międzyczasie zmagali się z nasilającymi się kłopotami. Uzależnienie od narkotyków, problemy z zarządzaniem zespołem i początki wewnętrznych sporów wpłynęły destruktywnie na prace nad kolejnym albumem. Mimo trudności, w 1975 pojawiała się płyta Sabotage, która dość szybko odniosła sukces na rynku. Muzyka na albumie była bardziej rozbudowana i wielowątkowa niż dotychczas. Z kolei płyta Technical Ecstasy z 1976 okazała się komercyjnym niepowodzeniem. Muzyka zespołu w tym czasie obfitowała w syntezatorowe, a nawet orkiestrowe efekty, lecz została pozbawiona dawnej spontaniczności i ciężaru. Never Say Die! z 1978 to powrót grupy do cięższego grania. Album sprzedawał się trochę lepiej od poprzednika.

						W 1979 Osbourne odszedł z zespołu, by rozpoczął solową karierę. Jego miejsce w zespole zajął Ronnie James Dio, były wokalista zespołu Rainbow. Nowy album Heaven and Hell to tym razem duży sukces komercyjny[potrzebny przypis]. Razem z Dio zespół nagrał płyty, takie jak Heaven and Hell czy Mob Rules, jak również koncertową pt. Live Evil. Po nagraniu albumów Dio opuścił zespół, a jego miejsce zajął Ian Gillan z Deep Purple. Black Sabbath razem z nowym wokalistą nagrali album pt. Born Again. Po wydaniu płyty i niedługiej trasie koncertowej wokalista odszedł do macierzystej formacji.

						Od tego czasu grupa jeszcze długo szukała stabilizacji, następowały liczne zmiany personalne. 13 maja 2006 zostali wprowadzeni do Rock and Roll Hall of Fame[14]. Również w 2006 zawiesili działalność.

						Od marca 2007 do maja 2010 Anthony „Tony” Iommi, Vinny Appice, Ronnie James Dio i Terence „Geezer” Butler koncertowali jako Heaven and Hell (pierwotnie grupa miała reaktywować się w składzie Ronnie James Dio, Tony Iommi, Geezer Butler, Bill Ward, jednak ostatni szybko wycofał się z projektu, i jego miejsce zajął Vinny Appice)[15]. 11 listopada 2011 poinformowano o reaktywacji zespołu w składzie: Ozzy Osbourne, Tony Iommi, Geezer Butler, Bill Ward. Wkrótce po tym grupa rozpoczęła prace nad albumem studyjnym, jednak niedługo po rozpoczęciu nagrywania albumu wykryto chłoniaka u Iommiego, dlatego przerwano pracę nad płytą. Po ustabilizowaniu się stanu zdrowia prace ponowiono nagrywanie albumu. W lutym 2012 Ward ogłosił, że nie weźmie udziału w dalszych pracach zespołu. Album wydano 10 czerwca 2013. W pierwszym kwartale tego samego roku zespół rozpoczął trasę koncertową na cały świat[16].

						4 lutego 2017 w Genting Arena w Birmingham zespół zagrał ostatni koncert, kończąc działalność[17].</p>
					

				
				</div>


<%- include('./fragments/footer.ejs') %>
