<%- include('./fragments/header.ejs') %>
			
			<div id="prawy">
				<div id="lewy_srodek">
				
					<h2>Mapa</h2>

					<iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-0.005214214324951173%2C51.500107534606656%2C0.008947849273681642%2C51.50574412842268&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/51.50293/0.00187">Wyświetl większą mapę</a></small>

				</div>


<%- include('./fragments/footer.ejs') %>