<%- include('./fragments/header.ejs') %>
			
			<div id="prawy">
				<div id="lewy_srodek">
				
					<h2>Video 1</h2>

					<iframe width="640" height="360" src="https://www.youtube.com/embed/0qanF-91aJo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>				</div>






<%- include('./fragments/footer.ejs') %>
