<div id="prawy_srodek">
    <h2>Trofea</h2>

    <div class="trof">
        <h3>Paranoid</h3>
        <img src="/css/img/cd1.jfif"/>
        <h3>4x platynowa płyta</h3>
    </div>

    <div class="trof">
        <h3>13</h3>
        <img src="/css/img/cd2.jfif"/>
        <h3>złota płyta</h3>
    </div>
    <div class="trof">
        <h3>Black Sabbath</h3>
        <img src="/css/img/cd3.jfif"/>
        <h3>platynowa płyta</h3>
    </div>


</div>

</div>


<div id="stopka">
    <h2>Bogusław Stępień s18891</h2>
</div>
</div>
</div>
</body>

</html>
