<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="pl" />
    <meta name="author" content="Bogusław Stępień" />
    <meta name="keywords" content="zespół muzyczny, rock" />
    <meta name="robots" content="index" />
    <meta name="creation-date" content="30-10-2020" />
    <title>Zespół muzyczny</title>
    <link rel="stylesheet" type="text/css" href="/css/styl.css" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin-ext,latin' rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script type="application/javascript" src="/js/validationCommon.js"></script>

</head>

<body>
<div id="big">
    <div id="logo">
        <img src="/css/img/logo.jpg" alt="logo" />
        <h1>Zespół muzyczny</h1>
    </div>
    <div id="menu">
        <ol>
            <li><a href="/">GŁÓWNA</a></li>
            <li><a href="#">Dane</a>
                <ul>
                    <li><a href="/koncerty">Koncerty</a></li>
                    <li><a href="/rezerwacje">Rezerwacje</a></li>
                    <li><a href="/koncerty/add">Nowy koncert</a></li>
                    <li><a href="/sluchacze">Osoby</a></li>
                    <li><a href="/sluchacze/add">Nowa osoba</a></li>

                </ul>

            </li>
            <li><a href="/historia">HISTORIA</a></li>

            <li><a href="#">VIDEO</a>
                <ul>
                    <li><a href="/video1">VIDEO 1</a></li>
                    <li><a href="/video">VIDEO 2</a></li>
                </ul>
            </li>

            <li><a href="/galeria">GALERIA</a></li>
            <li><a href="#">Koncerty</a>
                <ul>
                    <li><a href="/lokalizacjeKoncertow/mapa">MAPA</a></li>
                    <li><a href="/lokalizacjeKoncertow/zdjecia">ZDJĘCIA</a></li>
                </ul>

            </li>
            <li><a href="#">Rezerwacje</a>
                <ul>
                    <li><a href="/rezerwacje/add">Nowa Rezerwacja</a></li>
                </ul>
            </li>

        </ol>
    </div>
    <div id="srodek">

        <div id="lewy">

            <h2> Login </h2>
            <div class="login-box">
                <p>
                    <% if (!user)  { %>
                        <a href="/auth/login">Zaloguj</a> | <a href="/auth/register">Zarejestruj</a>
                    <% } else { %>
                        Zalogowany jako <%= user.login %>
                    <% }%>
                </p>
            </div>
            <h2> Muzycy</h2>
            <div class="pilka">
                <h3>Ozzy Osbourne</h3>
                <img src="/css/img/i1.jpg" alt="Ozzy Osbourne" />
            </div>

            <div class="pilka">
                <h3>Tony Iommi</h3>
                <img src="/css/img/i2.jpg" alt="Tony Iommi"/>
            </div>
            <div class="pilka">
                <h3>Bill Ward</h3>
                <img src="/css/img/i3.jpg" alt="Bill Ward"/>
            </div>
        </div>
